# git
.git
.gitignore
.github

# jetbrains
.idea

# docker
.dockerignore

# python
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/*/*/*/__pycache__/
.venv

# environment
.env

# vscode
.vscode