# python virtualenv
.venv/

# jetbrains
.idea/

# vscode
.vscode/

# python cache
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
backend/*/*/*/__pycache__/

# environment
backend/.env
frontend/.env
.env
/database/data/